@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
    font-family: "Outfit", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: white;
}

.main {
    position: fixed;
    top: 100px;
    right: 10px;
    bottom: 100px;
    left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 10px;
}

input {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 10px;
    width: 300px;
}

input:focus {
    outline: none;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
}

.img-container {
    display: grid;
    place-content: center;
    width: 160px;
    height: 160px;
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 700px) {
    .main {
        flex-direction: column-reverse;
    }
}
